.principal{
    display: flex;
    align-content: flex-end;
    background: crimson;
}

.vista{
    width: 90%;
    /*background: chartreuse;*/
}

.primer{
    width: 50%;
    height: 1000px;
    display: flex;
}
footer{
    text-align: center;
    background: rgb(255, 217, 121);
    width: 100%;
    height: 150px;
}
.color1{
    background: rgb(224, 167, 21);
}
.color2{
    background: darkgreen;
}
.pegajoso{
    position: sticky;
    top: 0px;
}
.tama{
    height: 15px !important;
}
.alto{
    height: auto;
}
.letra{
    font-size: 30px;
}
.vista1{
    margin: 0px -15px;
    padding: 0px;
}